* {
  margin: 0;
}
body {
  background-color: #717173 !important;

  .navbar {
    background-color: #040404 !important;
    .nav-item {
      padding-right: 35px;
      padding: 10px;
      a {
        color: #fecf00;
      }
      .nav-link {
        font-weight: bold;
      }
      .nav-link:hover {
        color: #f8f6ec;
      }
    }
  }
  h1,
  p {
    text-align: center;
    padding-top: 60px;
    color: #f8f6ec;
  }
  p {
    margin-left: 200px;
    margin-right: 200px;
  }
  .resultado {
    color: #fecf00;
    text-decoration: underline;
  }
  .clearflix {
    img {
      width: 500px !important;
      margin-right: 180px;
      margin-left: 180px !important;
      margin-top: 65px;
    }
  }
  footer {
    background-color: #040404;
    padding: 1px 0;
    p {
      color: #fecf00 !important;
      padding: 5px;
      padding-top: 10px !important;
    }
  }
  .col-12 {
    padding: 10px;
    padding-left: 120px;
  }
  .planos {
    margin-left: 25px;
    h3 {
      color: #fecf00;
    }
  }
}
